<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700337242891-fran83m3524bu2gca6nnetpai4uo4n7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700337242891-fran83m3524bu2gca6nnetpai4uo4n7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDf4g3o1ESnErv2Z7NbL9ExrDx-7XA825U</string>
	<key>GCM_SENDER_ID</key>
	<string>700337242891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.babuNareshri</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-9073d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-9073d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700337242891:ios:f01dc48cb99504e7d8980e</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-9073d.firebaseio.com</string>
</dict>
</plist>